/*BEGIN - REMOVE WHEN YOU START YOUR PROJECT*/
html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, #ffffff, #fff2e3);
  border-top: 5px solid #ff6659;
}

.main {
  text-align: center;
  color: #000;
  font-family: "San Fransisco", sans-serif;
  height: 100%;
  justify-content: center;
  margin: 0;
}
/*END - REMOVE WHEN YOU START YOUR PROJECT*/
