{% extends "layouts/default.html" %}

{% block content %}
  <h1>{{ homepage.title }}</h1>
  {{ homepage.welcomeTextHtml | safe }}
  {% if homepage.featuredRecipe %}
  <div class="recipe__preview__container">
      <div class="recipe__preview">
          <a href="{{ homepage.featuredRecipe | route('recipe') }}">
            <img src="{{ homepage.featuredRecipe.image | image({fit: 'crop', crop: 'edges'}) }}" class="recipe__image">
            <p>{{ homepage.featuredRecipe.name }}</p>
          </a>
      </div>
  </div>
  {% endif %}

{% endblock %}
