{% extends "layouts/default.html" %}

{% block content %}
  <div class="recipe">
      <h1>{{ recipe.name }}</h1>

      <div>
        <img src="{{ recipe.image.path | image }}" class="recipe__image">
      </div>

      <div class="recipe__description">
        {{ recipe.descriptionHtml | safe }}
      </div>
      
      <div class="recipe__ingredients">
          <ul>
              {% for ingredient in recipe.ingredients %}
                <li>
                  <a href="{{ingredient.ingredient | route('ingredient')}}">
                    {{ingredient.ingredient.name}}
                  </a>
                  {% if ingredient.amount %} -- {{ingredient.amount}}{% endif %}
                </li>
              {% endfor %}
            </ul>
      </div>

      <div class="recipe__steps">
          <ol>
              {% for step in recipe.steps %}
              <li>
                <p>{{step.instruction}}</p>
              </li>
            {% endfor %}
          </ol>
      </div>
      
      {% if recipe.chefs or recipe.inspriationUrl %}
        <h2>Inspired by</h2>
      {% endif %}

      {% for chef in recipe.chefs %}

        <a href="{{ chef | route('chef') }}">
          {{ chef.name}}
        </a>

      {% endfor %}

      <a href="{{ recipe.inspirationUrl }}">
        {{ recipe.inspirationUrl }}
      </a>

  </div>
{% endblock %}
